[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pinecone = "*"
sentence-transformers = "*"
pinecone-client = "*"
streamlit = "*"
langchain = "*"
langchain-openai = "*"
openai = "*"
bertopic = "*"
joblib = "*"
requests = "*"
pandas = "*"
pydantic = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
